* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.forgot {
  margin: 100px auto;
  width: 90%;
  max-width: 550px;
  padding: 50px;
  font-family: sans-serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  background-color: white;
  border-radius: 10px;
}
.forgot > h3 {
  font-weight: bold;
}
.forgot > form > input {
  padding: 12px;
  border: 1px solid #040a44;
  outline: none;
  border-radius: 10px;
  margin-bottom: 20px;
}
.forgot > form > a {
  color: #040a44;
  text-decoration: none;
}
@media (max-width: 768px) {
  .forgot {
    width: 95%;
    padding: 30px;
  }
  .forgot > form > input {
    padding: 10px;
  }
}
