@import url("https://fonts.googleapis.com/css2?family=Anton&family=Baloo+2:wght@400..800&family=Dancing+Script:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Modak&family=Noto+Sans+JP:wght@100..900&family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --txtcolor1: #040a44;
  --txtcolor2: #83c7f1;
}
.home {
  width: 100%;
  height: auto;
  background-color: whitesmoke;
}
/* Header */
.header {
  margin-top: 0.5%;
  width: 100%;
  height: 80vh;
  background-color: red;
  background-image: url("https://img.freepik.com/free-photo/top-view-books-with-copy-space_23-2148827187.jpg?t=st=1736739147~exp=1736742747~hmac=49fe03797acb370fd2cbf08806fefaa8d70045c814fbee3f9053f095e0c8ca6d&w=1380");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: end;
}
.header .txt-header {
  /* background-color: red; */
  height: 100%;
  width: 60%;
  padding: 6rem 15rem;
}

.header .txt-header h1 {
  font-family: "Anton", serif;
  font-size: 5rem;
  font-weight: 400;
  color: var(--txtcolor1);
  width: 35rem;
}
.header .txt-header p {
  width: 35rem;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--txtcolor1);
}
.header .txt-header button {
  background-color: var(--txtcolor1);
  width: 10rem;
  height: 3.5rem;
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
}
.header .txt-header button:hover::before {
  width: 105%;
}
.header .txt-header button:hover {
  background-color: #43699b;
}
/*Section Marquee */
marquee {
  background-color: #f0f0f0;
  margin-top: 1%;
}
/* Section Best Seller */
.bestseller {
  width: 100%;
  height: 50vh;
}
.bestseller h2 {
  font-family: sans-serif;
  font-size: 3rem;
}
/* Section Advantage of reading book */
.adv-book {
  width: 100%;
  height: 60vh;
  background-color: red;
}
.adv-book .adv-imgbook {
  width: 50%;
  height: 100%;
  background-color: #83c7f1;
}
.adv-book .adv-imgbook img {
  width: 35rem;
  height: 35rem;
}
@media screen and (max-width: 768px) {
  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
  }
  .header .txt-header {
    filter: brightness(100%);
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
  }

  .header .txt-header h1 {
    font-size: 5rem;
    color: white;
    width: 22rem;
    /* background-color: red; */
  }
  .header .txt-header p {
    font-size: 1.5rem;
    width: 22rem;
    color: whitesmoke;
  }
}
